<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel | FUMSA NATIONAL MEDICAL QUIZ</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="shortcut icon" href="/static/logos/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav>
        <ul class="nav bg-info">
            <li class="nav-item">
                <a class="nav-link link-light" href="/panel/admin">Competition Control</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/panel/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/admin">Admin Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div>
  {% block content %}
  {% endblock %}
  <script src='/static/js/admin.js'></script> 
</body>
</html>
