<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} | FUMSA NATIONAL MEDICAL QUIZ</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="shortcut icon" href="/static/logos/favicon.ico" type="image/x-icon">
  <style>
  </style>
</head>
<body>
  
    <nav>
        <ul class="nav bg-info">
            <li class="nav-item">
              <a class="nav-link link-light" href="/">Questions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light" href="/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <h1 id='team_id' hidden>{{user.id}}</h1>
    <h1 id='round_id' hidden>{{current_round}}</h1>
  {% block content %}
  {% endblock %}
  <script src='/static/js/participant.js'></script>
</body>
</html>