{%  extends 'base.html' %}
{% block title%}Home{% endblock %}
{%block content%}


<div class="container mt-5">
    
    <div class='card my-5'>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" id='timerStartBtn' disabled>Round Timer</button>
            <button type="button" class="btn border" disabled id='roundTimer'>00:00</button>
        </div>
    </div>
    <h2>Question Pool</h2>
    <div class="row justify-content-center">
        {% for question in questions %}
            {% if question.attempted %}
                {% if question.passed %}
                    <div class="col-sm-2 border p-3 m-1 bg-success card" style='height: 100px; width: 100px;' id="{{question.id}}">
                        
                    </div>
                {%else%}
                    <div class="col-sm-2 border p-3 m-1 bg-danger card" style='height: 100px; width: 100px; background-image' id="{{question.id}}">
                        
                    </div>
                {% endif %}
            {% elif question.attempted_by_others %}
                <div class="col-sm-2 border p-3 m-1 bg-secondary card" style='height: 100px; width: 100px; background-image' id="{{question.id}}">
                            
                </div> 
            {% else %}
                <div class="col-sm-2 border p-3 m-1 bg-primary card " style='height: 100px; width: 100px; background-image' id="{{question.id}}" onclick='fetchQn(event)'>
                    
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{%endblock%}