<!DOCTYPE html>
<html>
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="shortcut icon" href="/static/logos/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1 id='team_id' hidden>{{user.id}}</h1>
    <div class='container fs-5 '>
        <div class='card mt-3 px-2' id='timer'>
            00:00
        </div>
        <div class='card p-3 mt-5'>
        {% if question %}
        
            {{ question.text }}

            {% for option in question.choices %}
                <input type="radio" class="btn-check"  name="btnradio"  id="{{option.id}}" onclick='select_choice(event)' autocomplete="off">
                <label class="btn btn-outline-dark my-1" for="{{option.id}}" >{{option.text}}</label>
            {% endfor %}
        {% endif %}
            <button type="button" class="btn btn-primary" id='timerStartBtn' onclick='submit()'>Submit</button>
        </div>
    </div>
    <script>
        const socket = new WebSocket('ws://localhost:8000/ws/team/');
        socket.onmessage = function(event) {
            const message = JSON.parse(event.data);
            console.log('Message received from server:', message);
            // Handle the message accordingly
            if(message.type === 'answer'){
                answer_text = message.answer_text
                labels = document.getElementsByTagName('label')
                for( let i = 0; i < labels.length; i++){
                    console.log(labels[i])
                    if(labels[i].innerHTML === answer_text){
                        console.log(labels[i])
                        labels[i].classList.remove('btn-outline-dark')
                        labels[i].classList.add('bg-success')
                        break;
                    }
                }
                setTimeout(() => {
                    window.location.href = '/'
                }, 15000) 
            } else {
                resolve_events(message)
            }
        };
        function resolve_events(event_data){
            console.log(event_data)
            switch(event_data.type){
              case 'question_selected_event':
                question = event_data.message.question_id
                disableQuestion(question)
                break;
              case 'round_started_event':
                round_id = event_data.message.round_id
                localStorage.setItem('round_id', round_id)
                break;
              case 'round_end_event':
                localStorage.removeItem('round_id')
                localStorage.removeItem('roundTargetDate')
                localStorage.removeItem('targetDate')
                //clearInterval(roundTimerInterval)
                window.location.href = '/'
                break;
            }
          }
        // Function to update the countdown timer
        function updateTimer() {
            // Get the target date and time from localStorage
            const targetDate = new Date(localStorage.getItem('targetDate'));
            
            // Update the countdown every second
            let timerInterval = setInterval(() => {
                // Get the current date and time
                const now = new Date().getTime();

                // Calculate the time remaining
                const timeRemaining = targetDate - now;
                console.log(timeRemaining)
                // If the countdown is finished, display a message
                if (timeRemaining <= 0) {
                    clearInterval(timerInterval);
                    document.getElementById('timer').innerHTML = '00:00';
                    localStorage.removeItem('targetDate');
                    submit()
                    // Navigate to the home page
                    window.location.href = '/'

                } else {
                    const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
                    const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

                    // Pad minutes and seconds with leading zeros if they are single-digit
                    const paddedMinutes = minutes.toString().padStart(2, '0');
                    const paddedSeconds = seconds.toString().padStart(2, '0');

                    // Display the countdown timer
                    document.getElementById('timer').innerHTML = `${paddedMinutes}:${paddedSeconds}`;
                }
            }, 1000); // Update every second
        }

        // Check if target date is stored in localStorage
        if (!localStorage.getItem('targetDate')) {
            // Set the target date and time (replace with your desired date and time)
            const targetDate = new Date();
            targetDate.setSeconds(targetDate.getSeconds() + 300); // Example: 5 minutes from now
            localStorage.setItem('targetDate', targetDate);
            //emit event over a django channel about time up
        }

        // Update the countdown timer
        window.onload = updateTimer();
        let choice_selected = null

        const select_choice = (event) => {
            choice_selected = event.target.id
            console.log(choice_selected)
            //event.target.checked = true
            socket.send(JSON.stringify({
                type: 'ChoiceSelected', 
                choice_id: choice_selected, 
                team_id: document.getElementById('team_id').innerHTML,
                round_id: localStorage.getItem('round_id')
            }))
        }

        const submit = () => {
            console.log(choice_selected)
            localStorage.removeItem('targetDate');
            socket.send(JSON.stringify({
                type: 'QuestionAnswered',
                choice_id: choice_selected, 
                team_id: document.getElementById('team_id').innerHTML,
                round_id: localStorage.getItem('round_id')
            }))
            
        }
    </script>
</body>
</html>