<!DOCTYPE html>
<html>
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="shortcut icon" href="/static/logos/favicon.ico" type="image/x-icon">
    <style>
        .hidden{
            display: none;
        }
    </style>
</head>
<body>
    <h1 id='team_id' hidden>{{user.id}}</h1>
    <div class='container fs-5 '>
        <div class='card mt-3 px-2' id='timer'>
            00:00
        </div>
        <div class='card p-3 mt-5'>
        {% if question %}
        
            {{ question.text }}
            {% if question.image %}
            <img src='{{ question.image.url }}' class='my-2'>
            {% endif %}
            {% if question.choices %}
            {% for option in question.choices %}
                <input type="radio" class="btn-check"  name="btnradio"  id="{{option.id}}" onclick='select_choice(event)' autocomplete="off">
                <label class="btn btn-outline-dark my-1" for="{{option.id}}" >{{option.text}}</label>
            {% endfor %}
            <button type="button" class="btn btn-primary" id='timerStartBtn' onclick='submit()'>Submit</button>
            {% else %}
                <div class="input-group my-2">
                    <span class="input-group-text">Answer</span>
                    <textarea class="form-control" id='answerfield'aria-label="With textarea" oninput='fill_answer(event)'></textarea>
                </div>
                <div class='card border border-1 border-success hidden my-2 p-3 shadow-sm' id='answer'></div>
                <button type="button" class="btn btn-primary" id='timerStartBtn' onclick='submit_sa()'>Submit</button>
            {% endif %}
        {% endif %}
        </div>
    </div>
    <script src='/static/js/question.js'></script>
</body>
</html>